/*.root {
    -fx-base: rgb(50, 50, 50);
    -fx-background: rgb(50, 50, 50);
    -fx-control-inner-background:  rgb(50, 50, 50);
}
 
.tab {
    -fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
}

.tab:selected {
    -fx-background-color: silver;
}

.tab-content-area {
    -fx-background-color: transparent;
}

.tab-pane *.tab-header-background {
    -fx-background-color: -fx-outer-border, -fx-inner-border, derive(-fx-color, -20%);
    -fx-effect: innershadow(two-pass-box , rgba(0,0,0,0.6) , 4, 0.0 , 0 , 0);
}

.tab .tab-label {
    -fx-font-size: 10px;
}
 
.table-view {
    -fx-table-cell-border-color:derive(-fx-base,+10%);
    -fx-table-header-border-color:derive(-fx-base,+20%);
}

*/
.text-field{
    -fx-background-color:-fx-shadow-highlight-color, -fx-text-box-border,rgb(50,50,50);
    -fx-text-fill: rgb(185,150,77);
}

.table-view:row-selection {
    -fx-background-color: rgb(120,120,120);
}


.titled-pane > .title{
  -fx-background-color: linear-gradient(
                               to bottom,
                               rgb(98,98,98) 0%,
                               rgb(62,62,62) 5%,
                               rgb(52,52,52) 100%
                                        );
  -fx-background-insets: 0, 1, 2;
  -fx-padding: 0.166667em 1.166667em 0.25em 0; /* 2 14 3 0 */
  -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
}

.titled-pane{
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.3),3,0,2,2);
}

.titled-pane > .content{
  -fx-padding:0;
  -fx-background-color: linear-gradient(
                            to bottom,
                            rgb(82,82,82) 0%,
                            rgb(79,79,79) 5%,
                            rgb(72,72,72) 100%
                                        );
}

.root{
    -fx-background: rgb(50, 50, 50);
    -fx-base: rgb(50, 50, 50);
    /* No blue focus color */
    -fx-focus-color: transparent;
}

#NumberField {
    -fx-background-color:rgb(50,50,50);
    -fx-border-width: 0;
    -fx-border-color: lightgray;
    -fx-background-insets:1;
    -fx-border-radius:3 0 0 3;
    -fx-font-size: 10px;
    -fx-text-fill: rgb(185,150,77);
    /*    -fx-border-radius:0 0 0 0;*/
}

#NumberSpinnerArrow {
    -fx-fill: gray;
    -fx-stroke: gray;
    /*        -fx-effect: innershadow( gaussian , black , 2 , 0.6 , 1 , 1 )*/
}

#ButtonsBox {
    -fx-border-color:transparent;
    -fx-border-width: 0.5 0.5 0.5 0;
    -fx-border-radius: 0 2 2 0;
    /*    -fx-border-radius: 0 0 0 0;*/
}

#SpinnerButtonUp {
    -fx-background-insets: 0;
    -fx-background-radius:0 2 0 0;
    /*    -fx-background-radius:0;*/
}

#SpinnerButtonDown {
    -fx-background-insets: 0;
    -fx-background-radius:0 0 2 0;
    /*    -fx-background-radius:0;*/
}

#ControlToolBar {
    /*-fx-background-color:linear-gradient(
                            to right,
                            rgb(78,78,78) 0%,
                            rgb(72,72,72) 100%
                                        );*/
    -fx-background-color:rgb(170,170,170);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-alignment: CENTER_LEFT;
    /* Padding and effect look weird when use with zoom toolbar */
    /*-fx-padding: .9em 0.416667em .9em 0.416667em;*/
    /*-fx-effect: dropshadow(two-pass-box,black,5,.2,0,0);*/
}

.tool-bar {
    -fx-background-color:rgb(60,60,60);
    -fx-background-insets: 0, 0 0 1 0;
    /* Padding and effect look weird when use with zoom toolbar */
    /*-fx-padding: .9em 0.416667em .9em 0.416667em;*/
    /*-fx-effect: dropshadow(two-pass-box,black,5,.2,0,0);*/
}
/*
.toggle-button{
    -fx-base:rgb(15,15,15);
}*/


.toggle-button {
    -fx-background-color: 
        #000000,
        linear-gradient(darkgray, rgb(60,60,60)),
        rgb(40,40,40);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 5 5 5 5;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-alignment: CENTER;
}

.toggle-button:hover {
    -fx-color: -fx-hover-base;
}

.toggle-button:armed {
    -fx-color: -fx-pressed-base;
}

.toggle-button:selected {
   -fx-background-color:
        -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-color,-90%) 0%, derive(-fx-color,-60%) 100%),
        linear-gradient(to bottom, derive(-fx-color,-60%) 0%, derive(-fx-color,-35%) 50%, derive(-fx-color,-30%) 98%, derive(-fx-color,-50%) 100%),
        linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.3) 100%);
    -fx-background-insets: 0 0 -1 0, 0, 1, 1;
    /* TODO: -fx-text-fill should be derived */
    -fx-text-fill: -fx-light-text-color;
}

.toggle-button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
 
.toggle-button:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}
 
.button {
    -fx-background-color: 
        #000000,
        linear-gradient(darkgray, rgb(60,60,60)),
        rgb(40,40,40);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 2.25 2.25 2.25 2.25;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-alignment: CENTER;
}

.button:hover {
    -fx-color: -fx-hover-base;
}

.button:armed {
    -fx-color: -fx-pressed-base;
}

.button:pressed {
   -fx-background-color:
        -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-color,-90%) 0%, derive(-fx-color,-60%) 100%),
        linear-gradient(to bottom, derive(-fx-color,-60%) 0%, derive(-fx-color,-35%) 50%, derive(-fx-color,-30%) 98%, derive(-fx-color,-50%) 100%),
        linear-gradient(to right, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.3) 100%);
    -fx-background-insets: 0 0 -1 0, 0, 1, 1;
    /* TODO: -fx-text-fill should be derived */
    -fx-text-fill: -fx-light-text-color;
}

.button:disabled {
    -fx-opacity: -fx-disabled-opacity;
}
 
.button:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

/* Require for proper operation of the EditablePreviewWindow */

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}